<launch>

  <arg name="map_file" default="$(find ubr1_navigation)/maps/home.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <include file="$(find ubr1_navigation)/launch/includes/amcl.launch.xml" />

  <include file="$(find ubr1_navigation)/launch/includes/move_base.launch.xml" />

  <node name="voxel_grid_2_point_cloud" pkg="costmap_2d" type="costmap_2d_cloud">
    <remap from="voxel_grid" to="/move_base/local_costmap/obstacles/voxel_grid"/>
  </node>

</launch>
